DATABASE_DEV_PASSWORD = password
DATABASE_DEV_USER = user
DATABASE_DEV_HOST = host
DATABASE_DEV_NAME = example_id
FACEBOOK_APP_ID = fb_app_id
FACEBOOK_APP_SECRET = fb_app_secret
GOOGLE_CLIENT_ID = gg_app_id
GOOGLE_CLIENT_SECRET = gg_app_secret